{% extends 'produtos/base.html' %}

{% block title %}Lista de Produtos{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Lista de Produtos</h1>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <a href="{% url 'produto_criar' %}" class="btn btn-dark">
            <i class="fas fa-plus"></i> Adicionar Produto
        </a>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead class="table-info">
                <tr>
                    <th>
                        <a href="?ordenacao={{ ordenacao_nome }}" class="text-cyan text-decoration-none">
                            Nome {% if ordenacao == 'nome' %}<i class="fas fa-arrow-up"></i>⬆️{% elif ordenacao == '-nome' %}<i class="fas fa-arrow-down"></i>⬇️{% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="?ordenacao={{ ordenacao_preco }}" class="text-blue text-decoration-none">
                            Preço {% if ordenacao == 'preco' %}<i class="fas fa-arrow-up"></i>⬆️{% elif ordenacao == '-preco' %}<i class="fas fa-arrow-down"></i>⬇️{% endif %}
                        </a>
                    </th>
                    <th>Quantidade</th>
                    <th class="d-none d-sm-block">Data de Criação</th> <!-- Oculta em telas menores que "md" -->
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr>
                    <td>{{ produto.nome }}</td>
                    <td>R$ {{ produto.preco }}</td>
                    <td>{{ produto.quantidade_estoque }}</td>
                    <td class="d-none d-sm-block">{{ produto.data_criacao|date:"d/m/Y H:i" }}</td> <!-- Oculta em telas menores que "md" -->
                    <td class="text-center">
                        <a href="{% url 'produto_editar' produto.id %}" class="btn btn-warning btn-sm">
                            <i class="fas fa-edit"></i> Editar
                        </a>
                        <a href="{% url 'produto_deletar' produto.id %}" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i> Excluir
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">Nenhum produto cadastrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
